{% extends "layout.html" %}
{% block body %}
  <h2>Add User</h2>
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}

  {% from "_formhelpers.html" import render_field %}
  <form action="{{ url_for('add_user') }}" method="post">
    {{ form.hidden_tag() }}
    <dl>
      {{ render_field(form.fname) }}
      {{ render_field(form.lname) }}
      {{ render_field(form.username) }}
      {{ render_field(form.email) }}
      {{ render_field(form.password) }}
      {{ render_field(form.confirm) }}
      {{ render_field(form.roles) }}
      <dd><input type="submit" value="Add User" /></dd>
    </dl>
  </form>
{% endblock body %}
{% block footer %}
{{ super() }} | <a href={{ url_for('users') }}>Users</a>
{% endblock footer %}