{% extends "layout.html" %}
{% block body %}
{% from "_pagination.html" import render_pagination %}
  <h2>Tasks</h2>
  <table>
  	<tr>
  		<th>Task Title</th>
  		<th>Owner</th>
  		<th>Project</th>
  		<th>Start Date</th>
  		<th>Percent Complete</th>
  	</tr>
  	{% for task in tasks.items %}
  	<tr {% if task.complete_date %}class='complete'{% endif %}>
  		<td><a href="{{ url_for('task_view', task_id=task.id) }}">{{ task.title }}</a></td>
  		<td>{{ task.owner.fullname }}</td>
  		<td>{{ task.project.title }}</td>
  		<td>{{ task.start_date.strftime('%m/%d%Y') }}</td>
  		<td>{% if task.percent_complete %}{{ task.percent_complete }}%{% endif %}</td>
  	</tr>
  	{% endfor %}
  </table>
  {{ render_pagination(tasks, 'active_tasks') }}
{% endblock body %}