{% extends "layout.html" %}
{% block body %}
  <h2>Add Project</h2>
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
  {% from "_formhelpers.html" import render_field %}
  <form action="{{ url_for('add_project') }}" method="post">
    {{ form.hidden_tag() }}
    <dl>
      {{ render_field(form.title) }}
      {{ render_field(form.description) }}
      {{ render_field(form.client) }} <a href="{{ url_for('add_client', source='add_project') }}">Add Client</a>
      {{ render_field(form.start_date, format = '%m/%d/%Y') }}
      {{ render_field(form.due_date, format = '%m/%d/%Y') }}
      <dd><input type="submit" value="Add Project" /></dd>
    </dl>
  </form>
{% endblock %}