{% extends "layout.html" %}
{% block body %}
  <h2>Add Task</h2>
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
  {% from "_formhelpers.html" import render_field %}
  <form action="{{ url_for('add_task') }}" method="post">
    {{ form.hidden_tag() }}
    <dl>
      {{ render_field(form.title) }}
      {{ render_field(form.description) }}
      {{ render_field(form.project) }}
      {{ render_field(form.owner) }}
      {{ render_field(form.start_date, format = '%m/%d/%Y') }}
      {{ render_field(form.percent_complete) }}
      {{ render_field(form.due_date, format = '%m/%d/%Y') }}
      <dd><input type="submit" value="Add Task" /></dd>
    </dl>
  </form>
{% endblock %}