{% extends "layout.html" %}
{% block body %}
  <h2>Delete User</h2>
  <h3>Are you sure you want to delete Project '{{ theProj.title }}'?</h3>
  <h4>This will delete all associated tasks and task notes and <b>cannot</b> be undone!</h4>
  {% from "_formhelpers.html" import render_field %}
  <form action="{{ url_for('delete_project', project_id=theProj.id) }}" method="post">
    {{ form.hidden_tag() }}
    <dl>
      {{ render_field(form.delete) }}
      {{ render_field(form.cancel) }}
    </dl>
  </form>
{% endblock %}