{% extends "layout.html" %}
{% block body %}
  <h2>Edit Project: {{ theProj.title }}</h2>
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
  {% from "_formhelpers.html" import render_field %}
  <form action="{{ url_for('edit_project', project_id=theProj.id) }}" method="post">
    {{ form.hidden_tag() }}
    <dl>
      {{ render_field(form.title) }}
      {{ render_field(form.description) }}
      {{ render_field(form.client) }} <a href="{{ url_for('add_client', source='edit_project', project_id=theProj.id) }}">Add Client</a>
      {{ render_field(form.start_date, format = '%m/%d/%Y') }}
      {{ render_field(form.due_date, format = '%m/%d/%Y') }}
      {{ render_field(form.percent_complete) }}
      <dd><input type="submit" value="Edit Project" /></dd>
    </dl>
  </form>
  Project Tasks:
  <ul>
    {% for task in theProj.tasks %}
      <li>{{ task.title }}</li>
    {% endfor %}
  </ul>
  <a href="{{ url_for('add_task', project_id=theProj.id) }}">Add Task</a>
{% endblock %}