{% extends "layout.html" %}
{% block body %}
  <h2>Edit Task</h2>
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
  {% from "_formhelpers.html" import render_field %}
  <form action="{{ url_for('edit_task', task_id=theTask.id) }}" method="post">
    {{ form.hidden_tag() }}
    <dl>
      {{ render_field(form.title) }}
      {{ render_field(form.description, rows=5, cols=80) }}
      {{ render_field(form.project) }}
      {{ render_field(form.owner) }}
      {{ render_field(form.start_date, format = '%m/%d/%Y') }}
      {{ render_field(form.percent_complete) }}
      {{ render_field(form.due_date, format = '%m/%d/%Y') }}
      {{ render_field(form.task_note, rows=3, cols=80) }}
      <dd><input type="submit" value="Edit Task" /></dd>
    </dl>
  </form>
  {% if theTask.notes.count() > 0 %}
  Task Notes:
  <ul>
    {% for note in theTask.notes %}
    <li>{{ note.description }} {{ note.created.strftime('%m/%d/%Y %I:%M:%S%p') }}</li>
    {% endfor %}
  </ul>
  {% endif %}
{% endblock %}