{% extends "layout.html" %}
{% block body %}
  <h2>{{ theProject.title }} <a href="{{ url_for('edit_project', project_id=theProject.id) }}">(Edit)</a></h2>
  <dl>
    <dt>Title</dt>
    <dd>{{ theProject.title }}</dd>
    <dt>Description</dt>
    <dd>{{ theProject.description }}</dd>
    <dt>Client</dt>
    <dd>{{ theProject.client.name }}</dd>
    <dt>Start Date</dt>
    <dd>{{ theProject.start_date.strftime("%m/%d/%Y") }}</dd>
    <dt>Due Date</dt>
    <dd>{% if theProject.due_date %}{{ theProject.due_date.strftime("%m/%d/%Y") }}{% endif %}</dd>
    <dt>Percent Complete</dt>
    <dd>{{ theProject.percent_complete }}%</dd>
  </dl>
  Project Tasks:
  <ul>
    {% for task in theProject.tasks %}
      <li>{{ task.title }} - {{ task.owner.fullname }}{% if task.percent_complete %} - {{ task.percent_complete }}%{% endif %} <a href="{{ url_for('edit_task', task_id=task.id ) }}">Edit</a>
        <a href="{{ url_for('task_view', task_id=task.id) }}">View</a></li>
        {% if task.notes.count() > 0 %}
            <ul>
                {% for tn in task.notes %}
                <li>{{ tn.description }}</li>
                {% endfor %}
            </ul>   
        {% endif %}
    {% endfor %}
  </ul>
  <a href="{{ url_for('add_task', project_id=theProject.id) }}">Add Task</a> | 
  <a href="{{ url_for('delete_project', project_id=theProject.id) }}">Delete Project</a>
{% endblock body %}
{% block footer %}
{{ super() }} | <a href="{{ url_for('add_project') }}">Add Project</a>
{% endblock footer %}