{% extends "layout.html" %}
{% block body %}
  <h2>{{ theProject.title }} <a href="{{ url_for('edit_project', project_id=theProject.id) }}">(Edit)</a></h2>
  <dl>
    <dt>Title</dt>
    <dd>{{ theProject.title }}</dd>
    <dt>Description</dt>
    <dd>{{ theProject.description }}</dd>
    <dt>Client</dt>
    <dd>{{ theProject.client.name }}</dd>
    <dt>Start Date</dt>
    <dd>{{ theProject.start_date.strftime("%m/%d/%Y") }}</dd>
    <dt>Due Date</dt>
    <dd>{% if theProject.due_date %}{{ theProject.due_date.strftime("%m/%d/%Y") }}{% endif %}</dd>
    <dt>Percent Complete</dt>
    <dd>{{ theProject.percent_complete }}</dd>
    <dt>Project Tasks</dt>
    {% for task in theProject.tasks %}
      <dd>{{ task.title }}</dd>
    {% endfor %}
  </dl>

<a href="{{ url_for('add_project') }}">Add Project</a> | <a href="{{ url_for('add_task', project_id=theProject.id) }}">Add Task</a>
{% endblock %}